= page_title "О сайте"

%h1 О сайте

%p 
  Сайт представляет из себя новостной агрегатор, который собирает новости из разных источников. <br/>
  Его ключевой особенностью является то, что он относит полученную новость к городу.
%p
  Назначение новости к городу происходит автоматически, на основе алгоритмов машинного обучения.  
%p
  Пока агрегатор работает только с новостями, которые относятся к республике Башкортостан, а 
  именно к городам: 
  %ul
    %li Уфа
    %li Стерлитамак
    %li Нефтекамск
    %li Салават
    %li Ишимбай
%p
  Города и регионы для которых собираются новости со временем будут пополняться.

