// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.city a{
  color: #00008b;
  font-size: 15px;
  font-weight: 500;
}

a.feedback{
  color: #696969;
}

a.entry{
  font-weight: 500;
}

.news-source{
  padding-top: 10px;
}

.share-buttons{
  padding-top: 15px;
}

