= link_to "Новости Башкортостана <i><tt><font size='3'> по городам </font></tt></i>".html_safe, root_path, :class => 'brand'
%ul.nav
  - params[:city].blank? ? css_class = 'active' : css_class = ''
  %li{:class => css_class}= link_to "Все города", root_path, :class => css_class
  - TextClass.all.each do |text_class|
    - ( params[:city] == text_class.eng_name.downcase ) ? css_class = 'active' : css_class = ''
    %li{:class => css_class}= link_to text_class.name, feeds_city_path( :city => text_class.eng_name.downcase )
  -#%li
  -#  = link_to 'News', feeds_path
  -#- if user_signed_in?
  -#  %li
  -#    = link_to 'Logout', destroy_user_session_path, :method=>'delete'
  -#- else
  -#  %li
  -#    = link_to 'Login', new_user_session_path
  -#- if user_signed_in?
  -#  %li
  -#    = link_to 'Edit account', edit_user_registration_path
  -#  - if current_user.has_role? :admin
  -#    %li
  -#      = link_to 'Admin', admin_root_path
  -#- else
  -#  %li
  -#    = link_to 'Sign up', new_user_registration_path
